/*Colores*/

$colorPrincipal:#ff0800;
$colorSecundario:#fff;
$colorTerciario: #333;
$colorBody: #292a2b;
$colorLogo: #eff3f3;
$colorEnlace: #f1f0db;
$colorResponsive: #292a2b;
$colorBlack:#06060e;
$colortarj:rgb(27, 23, 23);
$colorTarj1:rgba(75, 74, 74, 0.356);
$colorTarj2:rgb(24, 23, 23);
$colorAnima: rgb(105, 104, 104);